.addcart-container{
    height:100vh;
    background-color:  #15283c;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
   gap:40px;
    color:white;
    padding-top:200px;
}

.add-subcontainer{ 
    width:290px;
    height:100px;
    display:flex;
     gap:20px;
     align-items: center;
}


.add-data{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-subcontainer img{
    width: 30%;
}

.add-btn{
    width:60px;
    height:60px;
    border:none;
    outline:none;
   font-size: 22px;
}

.itemdelete-btn{
    width:150px;
    height:50px;
    border-radius: 8px;
    background-color:blanchedalmond;
    font-size: 22px;
    border:none;
    outline:none;
}

.checkout-btn{ 
    display:flex;
    justify-content: flex-end;
    padding:20px 100px;

}

.checkout-btn button{
      width:150px;
      height:50px;
      border-radius: 8px;
      background-color:rgba(255, 140, 0, 0.317);
      font-size: 22px;
      border:none;
      outline:none;
      color:white;
}

.checkout-btn button:hover{
    background-color:coral;
}