.addcart-container{
    height:100vh;
    background-color:#464866;
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items:center;
     gap:60px;
    color:white;
    padding-top:200px;
    
}

.add-subcontainer{ 
    width:290px;
    height:100px;
    display:flex;
     gap:20px;
     align-items: center;  
}

.addtocart{
    display:flex;
    flex-direction: column;
    gap:20px;
   
}

.add-data{
    background-color: #AAABBB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
    border-radius: 20px;
}

.add-subcontainer img{
    width: 30%;
}

.add-btn{
    width:60px;
    height:60px;
    border:none;
    outline:none;
   font-size: 22px;
}

.itemdelete-btn{
    width:150px;
    height:50px;
    border-radius: 8px;
    background-color:blanchedalmond;
    font-size: 22px;
    border:none;
    outline:none;
}

.checkout-btn{ 
    display:flex;
    justify-content: flex-end;
    padding:20px 100px;
}

.checkout-btn button{
      width:150px;
      height:50px;
      border-radius: 8px;
      background-color:rgba(255, 127, 80, 0.872);
      font-size: 22px;
      border:none;
      outline:none;
      color:white;
      cursor: pointer;
}

.checkout-btn button:hover{
    background-color:coral;
}