.background-container{
    background-color:#15283c ;
    color:white;
    height:380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.blog-head h1{
 
  overflow: hidden; 
  white-space: nowrap; 
  animation: typewriter 2s steps(20) infinite; 
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.blog-head h1::after {
  content: "|";
  animation: cursor 0.5s steps(1) infinite; 
}

.blog-input-field{
  display:flex;
  flex-wrap:wrap;
  background-color: #f1f1f1;
  justify-content: space-around;
  margin:10px;
}

.cards{
   width:30%;
   height:40%;
   border:1px solid #f1f1f1;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
   margin:10px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards:hover {
  transform: scale(1.05); 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}