body {
    font-family: "Lato", sans-serif;
  }

  .product-input-field{
    display:flex;
    height:100vh;
    gap:20px;
  }

  .product-cards{
    width:100%;
    height:55vh;
    border:1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .secondhalf {
    height:100vh;
    display:flex;
    margin:2px;
  }


 .sidediv{
  /* height: 100vh; */
  width: 350px;
  display:fixed;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  z-index: 1;
  background-color: #111;
  color:white;
  text-align:center;
  font-size:30px;
 }

 .dropdown-btn{
  color:white;
  background-color: transparent;
 }

 .sidediv .anchordata :hover, .dropdown-btn:hover {
  color: #f1f1f1;
}
